body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('pictures/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh; /* Ensure the body takes up at least the full height */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center;
    justify-content: flex-start; /* Start content from the top */
    color: white;
    overflow-y: auto; /* Enable scrolling */
}

.buttons {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #9104f5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(210, 7%, 94%);
}

.card {
    text-align: center;
    margin: 20px 0; /* Add some margin for spacing */
}

.card img {
    display: block;
    margin: 0 auto;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
}

.container {
    max-width: 600px;
    padding: 0 20px;
    text-align: center;
}

.container-boxes {
    margin-top: 20px;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

.foot {
    text-align: center;
    margin: 20px 0;
}
